body{
    margin: 0;

}

body *{
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #228B22;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.left-login > h1{
    font-size: 3vw;
    color:#228B22;
}

.left-login-image{
    width: 35vw;

}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 15px 25px #175a17 ;

}

h1{
    color: #228B22;
    font-weight: 800;
    margin: 0;
    font-size: 300%;
}

h2{
    color: #228B22;
    font-weight: 800;
    margin: 0;
    font-size: 180%;
    text-decoration: none;
}


.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: white;
    color: #228B22;
    font-size: 12pt;
    box-shadow: 0px 5px 10px #00000056;
    outline: none;
    box-sizing: border-box;
}


.textfield > label{
    color: #228B22;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 150%;
}

.textfield > input::placeholder{
    color: #228B22;
}

.textfield1 > h4{
    color: black;
    text-decoration: none;
    align-items: center;
    text-align: center;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin:  20px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    background: #228B22;
    cursor: pointer;
    box-shadow: 5px 10px 10px #9cbe9c ;
}



@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;
    }
}
